@model u21669849_HW3.Models.staffs

@{
    ViewBag.Title = "Delete Staff";
}

<h2>Delete Staff</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>staffs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staff_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.staff_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>
        <dd>
            @(Model.active == 1 ? "Yes" : "No")
        </dd>

        <dt>
            Store
        </dt>
        <dd>
            @if (Model.stores != null)
            {
                @Html.DisplayFor(model => model.stores.store_name)
            }
            else
            {
                <text>No Store Assigned</text>
            }
        </dd>

        <dt>
            Manager
        </dt>
        <dd>
            @if (Model.manager_id.HasValue)
            {
                if (Model.staffs2 != null)
                {
                    @Html.DisplayFor(model => model.staffs2.first_name) @Html.DisplayFor(model => model.staffs2.last_name)
                }
                else
                {
                    <text>Manager ID: @Model.manager_id</text>
                }
            }
            else
            {
                <text>No Manager</text>
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>